.airco-page {
  max-width: 900px;
  margin: auto;
}

.airco-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.airco-page ul {
  margin-top: 20px;
  padding-left: 20px;
}

.airco-page li {
  margin-bottom: 8px;
}
