* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  line-height: 1.6;
  color: #15141A;
  width: 100%;
  background: #E1E5F5;
}

html {
  scroll-behavior: smooth;
}
